TraficAnalyticsPipeline/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "TraficAnalyticsPipeline"
		},
		"AzurePostgreSql1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzurePostgreSql1'"
		},
		"HttpServer1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.trafikinfo.trafikverket.se/v2/data.json"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TrafikverketAPI_Call",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "text/xml"
							},
							"linkedServices": [
								{
									"referenceName": "HttpServer1",
									"type": "LinkedServiceReference"
								}
							],
							"url": "https://api.trafikinfo.trafikverket.se/v2/data.json",
							"body": "<REQUEST>\n  <LOGIN authenticationkey=\"5c341f5a9438482ca26b412a7c146cea\" />\n  <QUERY objecttype=\"Situation\" schemaversion=\"1.5\" limit=\"1000\">\n    <INCLUDE>Deviation</INCLUDE>\n  </QUERY>\n</REQUEST>"
						}
					},
					{
						"name": "TrafikDataToPostgres",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TrafikverketAPI_Call",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": "INSERT INTO trafikverket_data (id)\nVALUES (value1)\nON CONFLICT (id) DO NOTHING;",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzurePostgreSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzurePostgreSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HttpServer1')]",
				"[concat(variables('factoryId'), '/datasets/AzurePostgreSqlTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzurePostgreSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "affected_direction",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "affected_direction_value",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "creator",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "creation_time",
						"type": "timestamp with time zone",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "geometry__point__sweref99_tm",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "geometry__point__wgs84",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "geometry__line__sweref99_tm",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "geometry__line__wgs84",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "header",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "icon_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "managed_cause",
						"type": "boolean",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "message_code",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "message_code_value",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "message_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "message_type_value",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "number_of_lanes_restricted",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "positional_description",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "road_number",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "road_number_numeric",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "start_time",
						"type": "timestamp with time zone",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "location_descriptor",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "traffic_restriction_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "valid_until_further_notice",
						"type": "boolean",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "web_link",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "version_time",
						"type": "timestamp with time zone",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "_dlt_load_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "_dlt_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "road_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "end_time",
						"type": "timestamp with time zone",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "message",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "severity_code",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "severity_text",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "temporary_limit",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "safety_related_message",
						"type": "boolean",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "staging",
					"table": "trafikverket_data"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HttpServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzurePostgreSql1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzurePostgreSql",
				"typeProperties": {
					"connectionString": "[parameters('AzurePostgreSql1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous",
					"authHeaders": {
						"apikey": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			},
			"dependsOn": []
		}
	]
}